.CAU__HeaderLogo {
    width: auto;
}

.CAU__FlexBox {
    display: flex;
    align-items: center;
}

.CAU__HeaderText {
    font-family: serif;
    padding-top: 1rem;
}

.CAU__HeaderLogo {
    width: 8.3rem;
    height: auto !important;
}