@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@font-face {
  font-family: "OpenSans-Bol";
  src:
    local("OpenSans-Bold"),
    url(../../public/fonts/OpenSans-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "OpenSans-Bla";
  src:
    local("OpenSans-ExtraBold"),
    url(../../public/fonts/OpenSans-ExtraBold.ttf) format("truetype");
}

@font-face {
  font-family: "OpenSans-Ita";
  src:
    local("OpenSans-Italic"),
    url(../../public/fonts/OpenSans-ExtraBold.ttf) format("truetype");
}

@font-face {
  font-family: "OpenSans-Lig";
  src:
    local("OpenSans-Light"),
    url(../../public/fonts/OpenSans-Light.ttf) format("truetype");
}

@font-face {
  font-family: "OpenSans-Medium";
  src:
    local("OpenSans-Medium"),
    url(../../public/fonts/OpenSans-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "OpenSans-Regular";
  src:
    local("OpenSans-Regular"),
    url(../../public/fonts/OpenSans-Regular.ttf) format("truetype");
}

h1 {
  font-family: "OpenSans-Medium" !important;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }

  .next-error-h1 {
    border-right: 1px solid rgba(255, 255, 255, 0.3);
  }
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  color: rgb(var(--foreground-rgb));
  font-family: "OpenSans-Regular" !important;
}

.next-error-h1 {
  border-right: 1px solid rgba(0, 0, 0, 0.3);
}

.custom-grid-flow {
  grid-template-rows: auto 1fr auto;
}

.custom-col-span {
  grid-column: span 500 / span 500;
}

.jse-tree-mode,
.jse-table-mode,
.jse-text-mode {
  min-height: 35rem !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.modalZIndex {
  z-index: 100;
}

::-webkit-scrollbar {
  height: 1rem;
  width: .5rem
}

::-webkit-scrollbar:horizontal {
  height: .5rem;
  width: 1rem
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 9999px
}

::-webkit-scrollbar-thumb {
  --tw-border-opacity: 1;
  background-color: rgba(217,217,227,.8);
  border-color: rgba(255,255,255,var(--tw-border-opacity));
  border-radius: 9999px;
  border-width: 1px
}

::-webkit-scrollbar-thumb:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(217,217,227,var(--tw-bg-opacity))
}

.dark ::-webkit-scrollbar-thumb {
  background-color: hsla(0,0%,100%,.1)
}

.dark ::-webkit-scrollbar-thumb:hover {
  background-color: hsla(0,0%,100%,.3)
}