@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
  .next-error-h1 {
    border-right: 1px solid rgba(255, 255, 255, 0.3);
  }
}

html,
body,
section {
  height: 100%;
  width: 100%;
  min-height: 100%;
  min-width: 100%;
  position: relative;
}

header,
footer {
  width: 100%;
  min-width: 100%;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.next-error-h1 {
  border-right: 1px solid rgba(0, 0, 0, 0.3);
}

.custom-grid-flow {
  grid-template-rows: auto 1fr auto;
}

.custom-col-span {
  grid-column: span 500 / span 500;
}