@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}


body {
  color: #000;
  background: #fff;
  margin: 0
}

.next-error-h1 {
  border-right: 1px solid rgba(0, 0, 0, .3)
}

@media (prefers-color-scheme:dark) {
  body {
    color: #fff;
    background: #000
  }

  .next-error-h1 {
    border-right: 1px solid rgba(255, 255, 255, .3)
  }
}

.st0 {
  fill: #FFFFFF;
}

.st1 {
  fill: #231F20;
}

.st2 {
  fill: #6D6E71;
}

.st3 {
  fill: #C0C2C4;
}

.st4 {
  fill: #EB2032;
}